.nav-link:active {
    color: gold;
}

.nav-link:hover {
    color: gold;
}

.nav-link {
    color: black;
}

.active {
    background-color: black !important;
    color: gold !important;
}

body {
    font-family: 'Roboto Mono', monospace;
}
