.nav-link:active {
    color: gray;
}

.nav-link:hover {
    color: gray;
}

.nav-link {
    color: black;
}

.active {
    background-color: black !important;
    color: gray !important;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
}