{% extends 'public/base.html' %}

{% block content %}
{% if error %}
  <div id="error-alert" class="alert alert-danger text-center" role="alert">{{ error }}</div>
{% endif %}
{% if success %}
  <div id="success-alert" class="alert alert-success text-center" role="alert">{{ success }}</div>
{% endif %}
<div class="p-4 p-md-5 mb-4 rounded card" style="background-color:#F4F4F4; border:black; border-width: 20px;">
  <div class="row justify-content-between">
    <div class="col-md-4">
      <h1 class="display-4 fst-italic">Add dashboard</h1>
      <p class="lead my-3">Here you can upload the files with the information you want to view.</p>
    </div>
    <div class="col-6 mt-5">
      <p class="my-2" style="font-size: 14px; color: #da1e28;">WARNING: If you already have three dashboards, your dashboard number 2 will be deleted</p>
      <form id="upload-form" method="post" enctype="multipart/form-data" style="color: #171414">
        {% csrf_token %}  <!-- Include the CSRF token for security -->
        <input type="file" name="file" id="file-input">
        <input type="submit" value="Upload" class="bx--btn--field" id="upload-button">
        <p class="my-2" style="font-size: 14px; color: #736F6F;">Be sure to follow the standard CSV format</p>
      </form>
      <div id="loading-indicator" class="d-none">
        <!-- Loading indicator or progress bar HTML -->
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>


  <style>

    .bx--btn--field:hover{
        background: #A6C8FF;  }

      /* Style for the loading indicator */
    #loading-indicator {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
  }
  </style>


  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // Get the form, file input, and loading indicator elements
      const uploadForm = document.getElementById("upload-form");
      const fileInput = document.getElementById("file-input");
      const loadingIndicator = document.getElementById("loading-indicator");
      const successAlert = document.getElementById("success-alert");
      const errorAlert = document.getElementById("error-alert");

      // Add an event listener to the form submission
      uploadForm.addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent the form from submitting normally

        // Show the loading indicator
        loadingIndicator.classList.remove("d-none");

        // Submit the form
        uploadForm.submit();
        });
    });
  </script>
{% endblock %}
