{% extends 'public/base.html' %}

{% block content %}

<nav class="d-flex justify-content-between">
  <h1>Dashboard</h1>
  <a class="bx--btn bx--btn--primary" href="{% url 'add' %}">Agregar</a>
</nav>

  <hr />
  <div class="content">
    {% if error %}
      <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}


<!-- Nav pills -->
<ul class="nav nav-pills">
  {% for dsh in dashboards %}
    <li class="nav-item">
      <a class="bx--btn bx--btn--secondary {% if forloop.counter == 1 %}active {% endif %}" data-bs-toggle="pill" href="#dsh{{ dsh.id }}">{{ dsh.title }}</a>
    </li>
  {% endfor %}
</ul>

<!-- Tab panes -->
<div class="tab-content mt-1" style="background-color: white;">
  {% for dsh in dashboards %}
    <div class="tab-pane container {% if forloop.counter == 1 %}show active{% endif %}" id="dsh{{ dsh.id }}">
      {% comment %} Charts {% endcomment %}
      <div class="row m-5">
        <div class="bx--grid col-xl-6 col-sm-12 col-md-12 p-0 text-start ">
            <div class="bx--row">
                <div class="bx--col-lg-16 ">
                    <h1 class="bx--type-beta">Certification Bar Chart</h1>
                    {{ dsh.chart_1div|safe }}
                </div>
            </div>
          </div>
        
          <div class="bx--grid col-xl-6 col-sm-12 col-md-12  p-0 text-start">
            <div class="bx--row">
                <div class="bx--col-lg-16">
                    <h1 class="bx--type-beta">Department Distribution</h1>
                    {{ dsh.chart_2div|safe }}
                </div>
            </div>
          </div>
        
          <div class="bx--grid col-xl-6 col-sm-12 col-md-12  p-0 text-start">
            <div class="bx--row">
                <div class="bx--col-lg-16">
                    <h1 class="bx--type-beta">Top 5 | Bottom 5</h1>
                    {{ dsh.chart_3div|safe }}
                </div>
            </div>
          </div>
        
          <div class="bx--grid col-xl-6 col-sm-12 col-md-12  p-0 text-start">
            <div class="bx--row">
                <div class="bx--col-lg-16">
                    <h1 class="bx--type-beta">Certification Distribution</h1>
                    {{ dsh.chart_4div|safe }}
                </div>
            </div>
          </div>   
            
          {% comment %} Search here! {% endcomment %}
       

         <form method="POST" class="bx--form-control bx--form-control-dark">
            {% csrf_token %}
            <div class="bx--form-control bx--form-control-dark">
              <div class="bx--row">
                <div class="bx--col-10">
                  <input class="bx--text-input bx--text-input--light" name="search" type="text" placeholder="Search" aria-label="Search" />
                </div>
                <div class="bx--col-2">
                  <button role="button" type="submit" name="dshid" class="bx--btn bx--btn--primary bx--btn--field" value="{{dsh.id}}">Search</button>
                </div>
              </div>
            </div>
          </form>

  
          {% if table %}
   
  {% with first_table_item=table|first %}
    {% if first_table_item.error %}
      <div class="alert alert-danger" role="alert">{{ table.error }}</div>
    {% endif %}
    {% if first_table_item.type %}
      <div class="bx--data-table-container">
        <table class="bx--data-table bx--data-table--zebra">
          <thead>
            <tr>
              <th>Certification</th>
              <th>Date</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
            {% for row in table %}
              <tr>
                <td>{{ row.certification }}</td>
                <td>{{ row.issue_date }}</td>
                <td>{{ row.type }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
    {% if first_table_item.org %}
      <div class="bx--data-table-container">
        <table class="bx--data-table bx--data-table--zebra">
          <thead>
            <tr>
              <th>UID</th>
              <th>Certification</th>
              <th>Organization</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {% for row in table %}
              <tr>
                <td>{{ row.uid }}</td>
                <td>{{ row.certification }}</td>
                <td>{{ row.org }}</td>
                <td>{{ row.issue_date }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  {% endwith %}
{% endif %}


          {% comment %} {%if table%}
          <div>
            {%if table.type%}
            <div class="bx--data-table-container">
              <table class="bx--data-table bx--data-table--zebra">
                <thead>
                  <tr>
                    <th>Certification</th>
                    <th>Date</th>
                    <th>Type</th>
                  </tr>
                </thead>
              </table>
            </div>  
            {%endif%}
            {%if table.org%}
            <div class="bx--data-table-container">
              <table class="bx--data-table bx--data-table--zebra">
                <thead>
                  <tr>
                    <th>UID</th>
                    <th>Certification</th>
                    <th>Organization</th>
                    <th>Date</th>
                  </tr>
                </thead>
              </table>
            </div>  
            {%endif%}

          {% for row in table %}
            {% if row.type %}
            <div class="bx--data-table-container">
              <table class="bx--data-table bx--data-table--zebra">
                <tbody>
                  <tr>
                    <td>{{row.certification}}</td>
                    <td>{{row.issue_date}}</td>
                    <td>{{row.type}}</td>
                  </tr>  
                </tbody>
              </table>
            </div>
            {%endif%}
            {% if row.org %}
            <div class="bx--data-table-container">
              <table class="bx--data-table bx--data-table--zebra">
                <tbody>
                  <tr>
                    <td>{{row.uid}}</td>
                    <td>{{row.certification}}</td>
                    <td>{{row.org}}</td>
                    <td>{{row.issue_date}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            {%endif%}
          {%endfor%}
          </div>
          {% endif%}
         {% endcomment %}
        

        {% comment %} Table {% endcomment %}
       <div class="col-4">
        <table class="mt-5 mb-5">
          <thead>
            <tr>
              <th>UID</th>
              <th>CERTIFICATION</th>
              <th>LOCATION</th>
            </tr>
          </thead>
          <tbody>
            {% for item in dsh.data %}
              <tr>
                <td>{{ item.uid }}</td>
                <td>{{ item.certification }}</td>
                <td>{{ item.work_location }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div> 
    </div>
    {% comment %} Settings {% endcomment %}
    <div class="row m-5">
      <div class="col-12">
        <div class="mt-4 mb-4 p-5 ">
          <h1>Información del dashboard</h1>
          <div class="row">
            <div class="col-4">
              <div class="bx--file">
                <input class="bx--file-input" type="file" id="file-upload" name="file-upload" accept=".csv">
                <label for="file-upload" class="bx--btn bx--btn--primary">Actualizar</label>
              </div>
       
            </div>
            <div class="col-4">
              <button type="button" class="bx--btn bx--btn--danger">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>



    </div>
  {% endfor %}
</div>


</div>
{% endblock %}
