{% extends 'public/base.html' %}
{% block content %}
  <h1>Dashboard</h1>
  <hr />
  <div class="content">
    {% if error %}
      <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}
    {% if data %}
      <table>
        <thead>
          <tr>
            <th>UID</th>
            <th>CERTIFICATION</th>
            <th>LOCATION</th>
          </tr>
        </thead>
        <tbody>
          {% for item in data %}
            <tr>
              <td>{{ item.uid }}</td>
              <td>{{ item.certification }}</td>
              <td>{{ item.work_location }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
{% endblock %}
