<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>FlaskApp</title>
    <style>
      .todo {
        padding: 20px;
        margin: 10px;
        background-color: #eee;
      }
    </style>
  </head>
  <body>
    <h1>Users</h1>
    <hr />
    <div class="content">
      <table>
        <thead>
          <tr>
            <th>User</th>
            <th>Password</th>
          </tr>
        </thead>
        <tbody>
          {% for item in data %}
            <tr>
              <td>{{ item.email }}</td>
              <td>{{ item.password }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
