{% extends 'public/home.html' %}
{% block signup %}

<div class="row justify-content-center mt-2 col-sm-12">
    <div class="col-md-5">

        {% if error %}
        <div class="bx--alert bx--alert--danger" role="alert">
          {{ error }}
        </div>
      {% endif %}
      <div class="form-container">
        <div class="form-heading">
          <h1>Signup</h1>
        </div>
        <form method="POST" class="bx--form">
          {% csrf_token %}
          <div class="form-input">
            <label for="email" class="bx--label text-white">Email</label>
            <input type="text" name="email" class="bx--text-input" id="email" aria-describedby="usernameHelp" required>
          </div>
          <div class="form-input">
            <label for="first_name" class="bx--label text-white">First Name</label>
            <input type="text" name="first_name" class="bx--text-input" id="first_name" required>
          </div>
          <div class="form-input">
            <label for="last_name" class="bx--label text-white">Last Name</label>
            <input type="text" name="second_name" class="bx--text-input" id="last_name" required>
          </div>
          <div class="form-input">
            <label for="password" class="bx--label text-white">Password</label>
            <input type="password" name="password" class="bx--text-input" id="password" required>
          </div>
          <div class="form-input" style="margin-bottom: 10px;">
            <label for="confirm_password" class="bx--label text-white">Confirm Password</label>
            <input type="password" name="password1" class="bx--text-input" id="confirm_password" required>
          </div>
          <button type="submit" class="bx--btn bx--btn--primary">Sign Up</button>
        </form>
      </div>
      
      <hr>
      
      <div class="text-center">
        Do you already have an account? <a href="{% url 'login' %}" class="bx--link">Login here</a>
      </div>
    
    </div>
</div>

{% endblock %}
